<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>89581471541-1bc3f0dokb7q99funmi33urb4vn48r0d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.89581471541-1bc3f0dokb7q99funmi33urb4vn48r0d</string>
	<key>API_KEY</key>
	<string>AIzaSyAlmehAU4oU3CV1WBfMsFda4pr25GCoooc</string>
	<key>GCM_SENDER_ID</key>
	<string>89581471541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.osamaazmatkhan.MessengerX</string>
	<key>PROJECT_ID</key>
	<string>messengerx-cc431</string>
	<key>STORAGE_BUCKET</key>
	<string>messengerx-cc431.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:89581471541:ios:eb1693bfba2cf0a45fee7c</string>
	<key>DATABASE_URL</key>
	<string>https://messengerx-cc431.firebaseio.com</string>
</dict>
</plist>